@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-100.c8fb2f714bbc.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-100italic.d1f3f2d02ee4.woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-200.edbce16a90aa.woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-200italic.d7bbb730d9b5.woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-300.5e86df2cad22.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-300italic.37c74a8d2d0d.woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-regular.f29d2b855969.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-italic.22e7b04e5f2a.woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-500.991b453bf90a.woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-500italic.f3d41e4cdcc2.woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-600.f6dc6096f489.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-600italic.02c4833312d9.woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-700.957e93fbbe13.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-700italic.ca627c5ccc65.woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-800.756655905d91.woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-800italic.a69f0add9d86.woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-900.186cae8091da.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/montserrat/montserrat-v12-latin-900italic.43b527fe7725.woff");
  font-weight: 900;
  font-style: italic;
}

body{
   margin-top: 50px;
   background-color: #1A2B3C;
   color:#fff;
   font-family:Montserrat;
   font-weight:400;
}

.container {
    margin-top: 71px;
}

h1,h2,h3,.h1,.h2,.h3{
    color: #fff;
}

.navbar-static-top{
   margin-bottom: 19px;
}
.navbar-fixed-top {
   background-color: #495C6F;
   color: #fff;
}

.navbar-default .navbar-brand {
    color: #b7c0c9;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
    font-weight: 500;
}

.navbar-default .navbar-nav>li>a{
   cursor: pointer;
}


.btn{
    background-color: #273B4D;
    border: 3px solid #687D90;
    border-radius:12px;
}

.btn:hover{
    background-color: #3C5164;
    border: 3px solid #C1CAD2;
}

.btn:focus{
    background-color: #273B4D;
    border: 3px solid #C1CAD2;
}

.btn-danger{
    background-color:rgba(131, 79, 87, 0.3);
    border: 3px solid #8D3C2E;
}

.btn-danger:hover{
    background-color:rgba(131, 79, 87, 0.6);
    border: 3px solid #C55B48;
}

.btn-danger:focus{
    background-color:rgba(131, 79, 87, 0.9);
    border: 3px solid #C55B48;
}

.text-danger {
    color: #FE696C;
}

.alert {
    padding: 15px;
    margin: 10px 0px;
    border: 1px solid #5F778D;
    border-radius: 7px;
    background-color: #243A4F;
}

.close {
    opacity: 0.8;
    text-shadow: 0 2.5px 0 #465f78;
    color: #C4CBD3;
}

.close:hover {
    opacity: 1;
    color: #FFF;
    
}

.table .table {
    background-color:transparent;
}

.panel {
    background-color:#1A2B3C;
    border-radius:20px;
}

.panel, .panel-info {
    border: 3px solid #8990a0;
}

.panel-heading {
    border-bottom: 2px solid #8990a0;
}

.panel-info>.panel-heading {
    background-color: #d9dcf73b;
    border-radius: 20px 20px 0px 0px;
    color: #FFF;
    border-color: #8990a0;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #2c3d4e;
}
td.sorting_1 {
    width:fit-content;
}

.panel-default>.panel-heading, .panel-info>.panel-heading, .panel-footer {
    color: #FFF;
    background-color: #4A5D70;
    box-shadow: 0 0 0 2pt #8594A2;
    border: 0px solid;
}

.panel-default>.panel-heading, .panel-info>.panel-heading {
    border-radius: 12px 12px 0px 0px;
}

.panel-footer {
    background-color: #1A2B3C;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top: 0px solid #ddd;
}

input[type="text"], input[type="password"], input[type="password"]:focus, input[type="text"]:focus, input[type="search"], input[type="search"]:hover, select{
    border: 2px solid #929ba3;
    background-color: #273D52;
    padding:3px;
    -webkit-box-shadow: 0 0 0 30px #273D52 inset;
    -webkit-text-fill-color: #FFF !important;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-top: 2px solid #8990a0;
}