{% extends "lab_4/layout/base.html" %}

{% block content %}

<style>
body{
	background-image:url("http://cdn30.us1.fansshare.com/image/wallpaperwhite/crumpled-white-paper-texture-melemel-528360295.jpg");
	background-attachment: fixed;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 30px
}
hr{
	border-color:black;
}
p{
	font-size: 18px;
}
</style>

<h1>Portofolio</h1>
<hr/>
<center><img class="img-circle" src="https://i.imgur.com/NhxxycY.jpg" alt="Profil Picture" style="width:280px;height:280px;"></center>
<section name="bio">
	<h2>Bio</h2>
	<p>
		{{content}}
	</p>    
</section>
<hr/>
<section name="about_me">
	<h2>List</h2>
	<ul>
		{% for ii in about_me %}
		<li><p> {{ ii }} </p></li>
		{% endfor %}
	</ul>
</section>
<hr/>
<section name="form">
	<h2>Send Message</h2>
	<form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
		{% csrf_token %}
		{{ message_form }}
		<br>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</section>

{% endblock %}