{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <h2>friend Fasilkom</h2>
                <div class="col-md-5 col-lg-5">
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list' %}", // update
                success: function (response) {
                    if(response!=null){
                        for(i in response.results){
                        name = response.results[i].friend_name;    
                        npm = response.results[i].npm;
                        npmString = "'npm'"
                        html = '<a class="list-group-item clearfix">' +
                                    name +" (" + npm + ")" +
                                    '<span class="pull-right">' + 
                                        '<span class="btn btn-s btn-default" onClick = "delFriend('+"'"+npm+"'"+')">' +
                                            'Unfriend' + 
                                        '</span>' + 
                                    '</span>' + 
                                '</a>';
                        $("#friend-list").append(html);
                        }
                    }
                },
                error: function(error){
                }
            });
        });

        var delFriend = function (npm) {
            location.href="delete-friend/" + npm;
        };

    </script>
{% endblock %}